.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

.item img{
    width: 75px !important;
    height: 75px !important;
}

.item p{
    color: white;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    margin: 0;
}

.item:hover{
    cursor: pointer;
    background-color: rgba(119, 247, 247, 0.244);
    border-radius: 10px;
}