html,
body {
  padding: 0;
  margin: 0;
}
.red {
  color: red;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

main {
  height: 550px;
}

footer {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer a {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer a:hover {
  color: rgb(255, 94, 0);
}
footer span img {
  width: 40px !important;
  height: 40px !important;
  filter: brightness(0) invert(1);
}

.background-img {
  background: url("../public/bg-01.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.taskbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f5f5f52c;
  margin: 0 10%;
  border-radius: 40px;
  gap: 5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.item-taskbar {
  padding: 0.05rem;
  border-radius: 10px;
}

.item-taskbar:hover {
  transition: all 0.075s ease-in-out;
  margin-top: -1rem;
  background-color: rgba(183, 238, 238, 0.337);
}
.item-taskbar {
  cursor: pointer;
}
.item-taskbar span img {
  width: 80px !important;
  height: 80px !important;
}

.items {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2.5% 4.5%;
}
.one-items-column {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.four-items-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.projects-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  height: 80%;
  gap: 1rem;
  list-style: none;
}

.detail-project {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: row;
  flex-wrap: wrap;
}

.detail-project-img {
  flex: 1;
  height: 100%;
  overflow: scroll;
  /* height: 1000px; */
  /* background-color: red; */
}

.detail-project-img img {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}
.detail-project-desc {
  flex: 0.4;
  /* background-color: blue; */
  color: white;
  padding: 0 1rem;
}

.detail-project-desc h6 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.detail-project-desc p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.detail-project-desc div.detail-project-desc-description p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding-right: 10%;
}
.detail-project-desc div.detail-project-desc-description ul {
  margin: 0;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.detail-project-desc div.detail-project-desc-description ul li {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 200;
  margin: 0;
}

.detail-project-desc a {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}
.detail-project-desc a:hover {
  color: rgb(255, 60, 0);
}
.profile {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.profile-pic {
  flex: 0.8;
}
.profile-pic img {
  width: 100% !important;
  height: 500px !important;
  object-fit: cover !important;
}

.profile-desc {
  flex: 0.5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.profile-desc h4,
h5,
p {
  font-family: "Poppins", sans-serif;
}

.profile-desc h4 {
  font-size: 16px;
  margin: 0;
}
.profile-desc h5 {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

.profile-desc p {
  text-align: center;
  font-size: 14px;
  font-weight: 200;
}

.profile-desc a {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 14px;
  background-color: rgb(255, 51, 0);
  opacity: 100% !important;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 1rem;
}
.profile-desc a:hover {
  background-color: rgb(203, 42, 2);
}

.profile-skill {
  margin-bottom: 4rem;
}

.profile-desc .profile-language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: gray;
}

.profile-language img {
  width: 60px !important;
  height: 40px !important;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 20%;
}

.skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-title h6 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  margin: 0;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.swiper-container {
  margin-top: 1rem;
  height: 100% !important;
}

.certificates-img span img {
  width: 80% !important;
  object-fit: contain;
}
.terminal{
  width: 100%;
  height: 100vh;
}

.terminal-input p{
  font-size: 10px;
  width: 73%;
  /* text-align: end; */
  margin-bottom: 0;
  color: green;
  /* flex-grow: 2; */
  font-size: 10px;

}
.terminal input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  font-weight: 100;
  width: 100%;
  font-size: 10px;

}

.terminal-output {
  white-space: pre-line;
  font-weight: 200;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.73);

}

@media (min-width: 1200px) {
  main {
    height: 700px;
  }
}

@media (max-width: 630px) {
  main {
    height: 670px;
  }
  .item-taskbar span img {
    width: 60px !important;
    height: 60px !important;
  }
  .taskbar {
    margin-bottom: 1rem;
    gap: 0;
  }
  .projects-list {
    gap: 0;
    justify-content: center;
    margin-left: -1rem;
  }

  .swiper-container {
    margin-top: 5rem;
  }

  .certificates-img span img {
    width: 100% !important;

    object-fit: cover !important;
  }

  footer {
    font-size: 10px;
  }
}

@media (max-height: 900px) {
  main {
    height: 700px;
  }
}

@media (max-height: 850px) {
  main {
    height: 640px;
  }
}
@media (max-height: 700px) {
  main {
    height: 450px;
  }
}
