html,
body {
  padding: 0;
  margin: 0;
}
.red{
  color: red;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

main{
  height: 550px;
}

footer{
  font-family: 'Poppins',sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer a  {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer span img{
  width: 40px !important;
  height: 40px !important;
  filter: brightness(0) invert(1);
}

.background-img{
  background: url("../assets/BACKGROUND\ WEBSITE.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.taskbar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f5f5f52c;
  margin: 0 10%;
  border-radius: 40px;
  gap: 5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.item-taskbar{
  padding: 0.05rem;
  border-radius: 10px;
}

.item-taskbar:hover{
  transition: all 0.075s ease-in-out;
  margin-top: -1rem;
  background-color: rgba(183, 238, 238, 0.337);
}
.item-taskbar {
  cursor: pointer;
}
.item-taskbar span img {
  width: 80px !important;
  height: 80px !important;
}


.items{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2.5% 4.5%;
}
.one-items-column{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.four-items-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

}


.projects-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    height: 80%;
    gap: 1rem;
    list-style: none;
}

.detail-project {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: row;
  flex-wrap: wrap;
}

.detail-project-img{
  flex: 1;
  height: 100%;
  overflow: scroll;
  /* height: 1000px; */
  /* background-color: red; */
}

.detail-project-img img {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;

}
.detail-project-desc{
  flex: 0.4;
  /* background-color: blue; */
  color: white;
  padding: 0 1rem;
}

.detail-project-desc h6{
  font-family: 'Poppins',sans-serif;
  text-align: center;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.detail-project-desc p {
  font-family: 'Poppins',sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.detail-project-desc div.detail-project-desc-description p {
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding-right: 10%;
}
.detail-project-desc div.detail-project-desc-description ul{
  margin: 0;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.detail-project-desc div.detail-project-desc-description ul li {
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  font-weight: 200;
  margin: 0;
}